# Copyright (c) 2014 James Brandon Gooch
# 
# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to deal
# in the Software without restriction, including without limitation the rights
# to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:
# 
# The above copyright notice and this permission notice shall be included in all
# copies or substantial portions of the Software.
# 
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
# EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.
# IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM,
# DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR
# OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE
# OR OTHER DEALINGS IN THE SOFTWARE.

[svnsyncd]

# Path to svnsyncd replica database
svnsyncdb = /data/var/db/svnsyncd.db

# Path to Subversion binaries
svn_bin_path = /usr/local/bin

# User ID for performing svnsync operations
syncuser = syncuser

# User ID for performing the scp operations
scpuser = myuser

# SSH Private Key for the scpuser
scpkey = /myuser/.ssh/myuser.key

# Subversion repository parent path
repositories = /var/data/repositories

# Number of times to retry each copy operation
retry = 1

# Number of seconds to wait between each retry
retrywait = 1

# Maximum number of concurrent svnsync threads
numthreads = 8

# Set the logging level (verbosity threshold)
# 1 CRITICAL
# 2 ERROR
# 3 WARNING
# 4 INFO
# 5 DEBUG
loglevel = 4
